*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.orange{
    color: orange;
}
.half{
    width: 50%;
}
.pic{
    width: 50%;
    height: 50%;
}
.display{
    display: flex;
    align-items: center;
    padding-left: 60px;
}
header{
    margin-bottom: 100px;   
}
.header-content h1{
    margin-bottom: 35px;
}
.header-content p{
    text-align: left;
    margin-bottom: 40px;
}
.btn{
    text-decoration: none;
    background-image: linear-gradient(#FB974B,#FD4F30);
    padding: 15px 40px;
    border-radius: 40px;
    color: #fff;

}
.header-pic{
    padding-left: 00px;
    padding-top: 50px;
}
.about{
    height: 89vh;
    background-image: url(images/Frame\ 58.jpg);
     background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 20px;
}
.about-content p{
    text-align: left;
}
.about-content{
    padding-left: 80px;
}
.pic-woman{
   width: 50%;
   margin-left: 100px;
   margin-top: 110px;

}
.about-pic{
    padding: 10px;
    margin-bottom: ;

}
.about-content h1{
    margin-bottom: 50px;
}
.about-content p{
    margin-bottom: 50px;
}
.recipe h1, p{
    text-align: center;
}
.recipe{
    margin-top: 70px;
    margin-left: 60px;
}
.recipe-img{
   width: 90%;
   height: 50%;
   margin-top: ;
   box-shadow: 5px 7px 10px -10px;
}
.recipe-img1{
    width: 90%;
    height: 50%;
    box-shadow: 5px 7px 10px -10px;
    
 }

.left , .right{
    box-shadow: 2px 2px 20px -5px;
  
    padding: 20px;
}
.half1{
    width: 40%;
    margin: 70px 5%;
}
.recipe-container{
    margin: ;
}
.food{
    padding: 30px;
    background-image: url(images/Project\ Cover4.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 69vh;
}
.food h1{
    padding-top: 170px;
    margin-bottom: 40px;
}
.food h1 {
    color: white;
    text-align: center;
}
.socia-media{
    width: 90%;
    height: 25vh;
    margin: 0 auto;
    border: 2px solid green;
    margin-top: 70px;
    justify-content: space-between;
    background-color: #FD4F30;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px -5px black;
}
footer{
    width: 100%;
    height: 25vh;
    background-color: black;
    text-align: center;
    margin-top: 150px;
   
}
footer h1{
    color: white;
    padding-top: 60px;
}
.white{
    color: white;
}